#main-container{
    position: relative;
    width: 100vw; height: 100vh;
    padding: 0; margin: 0;
}
    .panel{
        height: 100%;
    }
        #project-type-panel{
            justify-content: flex-start;
            align-items: flex-start;
            width: 20%;
            background: #7CB8B7;
            color: rgba(255,255,255,0.9);
        }
        #project-list-panel{
            justify-content: flex-start;
            width: 45%;
            background: #6B828A;
            color: rgba(255,255,255,0.9);
        }
        #project-content-panel{
            justify-content: flex-start;
            width: 45%;
            background: rgba(255, 255, 255, 0.9);
        }
#top-container{
    position: relative;
    width: 100%; height: 20vw;
    justify-content: space-around;
}
    #identity-container{
      position: relative;
      width: 100%;
      margin-bottom: 20px;
    }
        #identity{
          position: relative;
          width: 100%;
        }
                #identity-text{
                    font-size: 24px;
                    margin-top: 15px;
                }
                #identity-profile-image-container{
                  position: relative;
                    width: 60%;
                    margin-top: 15px;
                }
                        #identity-profile-image{
                          width: 80%; height: auto;
                          border-radius: 50%;
                          border: solid rgba(255, 255, 255, 0.9) 2px;
                        }
                                /*#identity-profile-image-container::after{
                                  content: '';
                                  position: absolute;
                                  width: 82%; height: 100%;
                                  margin: 0; padding: 0;
                                  border-radius: 50%;
                                  box-shadow: inset 0px 0px 5px 5px #7CB8B7;
                                }*/

        #link-icon-container{
            width: 100%;
            justify-content: space-evenly;
            margin-bottom: 50px;
        }
                .profile-icon{
                    color: rgba(255, 255, 255, 0.9);
                    font-size: 2em;
                }
        #button-container{
            position: absolute;
            bottom: 0;
            justify-content: space-around;
            width: 100%;
        }
                .button-container{
                    width: 50%;
                    margin: 0; padding: 5px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
                #language-button-container{

                }
                        #language-button{
                            padding-right: 5px;
                        }
                #theme-button-container{

                }
                        #theme-button{
                            padding-left: 5px;
                        }
                .selected-button{
                    background-color: #77B1AF;
                    font-weight: bold;
                }
#projects-type-container{
    position: relative;
    width: 100%; height: 100%;
    box-shadow: inset 0px 10px 10px 0px rgba(0,0,0,0.1);
    background: #77B1AF;
    overflow-y: scroll;
    overflow-x: hidden;
}
        .projects-type-list{
            position: absolute;
            top: 0; left: 0;
            height: 50px;
            padding: 0; margin: 0;
        }
        #projects-type-language-list{

        }
        #projects-type-theme-list{

        }
                .project-type-container{
                    position: relative;
                    left: 0;
                    width: 100%;
                    margin: 25px 0;
                    padding: 0 0 0 25px;
                    cursor: pointer;
                    transition: .1s all;
                }
                .project-type-container:hover:not(.selected-type){
                    left: 3px;
                    transition: .2s all;
                }
                        .project-type-name{
                            font-size: 26px;
                            font-weight: 400;
                        }
                        .project-type-qty{

                        }
                        .projects-type-list{
                          width: 100%;
                        }
.selected-type > .type-text{
    font-family: 'HaboroSoftReg', sans-serif;
    font-weight: 600;
}
.selected-type::before{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 5px; height: 100%;
    background: rgba(255, 255, 255, 0.9);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#projects-list-container{
    width: 100%;
}
        #projects-list-header{
            width: 80%;
            padding: 25px;
        }
                #chosen-project-name{
                    font-weight: 400;
                }
        #projects-list{
            width: 80%;
        }
                .project-container{
                    position: relative;
                    top: 0;
                    width: 100%;
                    padding: 25px;
                    cursor: pointer;
                    border-top: 1px solid rgba(255,255,255,0.3);
                    transition: .2s all;
                }
                .project-container:hover:not(.selected-project){
                  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
                }
                .project-content{
                    position: relative;
                    left: 0;
                    transition: .2s all;
                }
                        .project-header{
                            justify-content: space-between;
                        }
                                .project-name{
                                    font-family: 'HaboroSoftReg', sans-serif;
                                }
                                .project-theme{
                                    position: relative;
                                    top: 3px;
                                    font-family: 'HaboroSoftLight', sans-serif;
                                    font-size: 12px;
                                    color: rgba(255,255,255,0.5);
                                    margin-left: 5px;
                                }
                                .project-date{
                                    font-size: 16px;
                                }
                                #no-project{
                                    padding-top: 10px;
                                }
#project-content-container{
  width: 100%;
  overflow-y: scroll;
}

#readme{
  height: 100%;
    width: 90%;
}
        #readme img{
          width: 100%;
        }

.selected-project{
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
  transition: .2s all;
}
#cv-container{
  position: relative;
}
.fa-user{
  position: absolute;
  left: 15px; bottom: 0;
  font-size: 1.3em;
  text-shadow: -2px -2px 0px #7CB8B7, -2px 2px 0px #7CB8B7, -2px 0px 0px #7CB8B7; // optional contrast
}
