{{ define "project-content" }}
<div id="project-content-container" class="flex-center-col">
    <div id="readme">
      <center>
        <p id="no-project">Aucun projet sélectionné</p>
      </center>
    </div>
</div>
{{ end }}
