#project-type-panel{
    background: #0C0F14;
    color: rgba(255,255,255,0.8);
}
    .selected-button{
        background-color: #171D27;
    }
#projects-type-container{
    background: #0B0F15;
}
#project-list-panel{
  background: #0E131A;
    color: rgba(255,255,255,0.8);
}
#project-content-panel{
  background: #191F28;
    color: rgba(255, 255, 255, 0.8);
}

.selected-type::before{
    background: white;
}

.fa-user{
  text-shadow: -2px -2px 0px #0C0F14, -2px 2px 0px #0C0F14, -2px 0px 0px #0C0F14; // optional contrast
}
