{{ define "footer" }}

    <script src="/public/js/global/utility.js"></script>
    <script src="/public/js/global/animation.js"></script>
    <script src="/public/js/global/main-events.js"></script>
</html>
{{ end }}
