@font-face {
    font-family: HaboroSoftLight;
    src: url("../../fonts/HaboroSoftExtraLight.ttf");
}
@font-face {
    font-family: HaboroSoftReg;
    src: url("../../fonts/HaboroSoftExtraRegular.ttf");
}
body{
    margin: 0;
    padding: 0;
    font-family: 'HaboroSoftLight', sans-serif;
}
video{
  width: 100%;
}
.flex-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex-center-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide{
    display: none;
}
.separator{
    width: 1px;
    height: 24px;
    background: rgba(255, 255, 255, 0.5);
}
.button{
    cursor: pointer;
}
h6{
    margin: 0; padding: 0;
}
h5{
    margin: 0; padding: 0;
}
h4{
    margin: 0; padding: 0;
}
h3{
    margin: 0; padding: 0;
}
h2{
    margin: 0; padding: 0;
}
h1{
    margin: 0; padding: 0;
}
p{
    margin: 0; padding: 0;
}
hr{
    opacity: 0.5;
}
